.wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(27px, auto);
    grid-gap: .50em;
    justify-items:stretch;
    align-items: stretch;}

.wrapper > div{
 /* background: #fff;*/
    /*padding: 1em 0em 0em 1em;*/ }

 /*Header*/
.box1{
 /*align-self: start;*/
    color: #fff;
    grid-column: 1/6;
    grid-row:1/3;
    background-color: #2b55a2;
    font-family: "News Reader", "Times New Roman", serif;
    font-size: 50px;
    text-align: center;
    padding: 10px;}

hr{ 
    height: 1px; width: 95%; 1px;
    background-color: #4a65ac;
    
    }
       
/*Navigation Bar*/
.box2{
  /*align-self: end;*/
    grid-column: 1/6;
    grid-row: 3/4;
    font-family: "News Reader", "Times New Roman", serif;
    font-size: 20px;
    text-align: center;}
    
.box2 > ul li{
    display: inline;
    padding: 10px;
}


.box2 > ul li a{
    text-decoration: none;
    color: #2b55a2;} 

.box3{
  /*align-self: end;*/
    grid-column: 1;
    grid-row: 5/30;
    margin: width: 91%;border-right: 1px solid #2b55a2;padding: 10px;}

.box4{
    grid-column: 2;
    grid-row: 5/30;
    margin: width: 90%;padding: 10px;}

.box5{
    grid-column: 3;
    grid-row: 5/30;
        margin: width: 95%;border-left: 1px solid #2b55a2;padding: 10px;}
/*Footer*/
.box6{
    grid-column: 1/6;
    grid-row: 30/30;
    color: #fff;
    background-color: #2b55a2;
    font-family: "News Reader", "Times New Roman", serif;
    font-size: 15px;
    text-align: center;
    padding: 10px;}
img src{
    align-content: space-around;
}

